table {
    margin-top: 2em;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1.2rem;
    margin-bottom: 15em;
  }
  
  th {
    border-bottom: 1px solid #ddd;
  }
  
  th,
  td {
    width: 80%;
    
  }
  
  table {
    margin-left: auto;
    margin-right: auto;
  }
  
  tr:nth-child(2) {
    text-align: left;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(1) {
      text-align: center;
      border: 1px solid #ddd;
    }
  