.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
}

.App-logo {
  width: 200px;
}

.App-body {
  margin: 50px;
  text-align: left;
}

.App-footer {
  border-top: 3px solid #e0354b;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-style: italic;
}